
body  {

  background-color: #1B191A;
  margin:0;
  padding:0;
  font-family: 'Crimson Text', serif;
  overflow: scroll;

}

#logo{

  float: left;
  padding-left: 40px;
  padding-top: 30px;
  height: 90px;
  padding-right: 150px;

}

.topbar-menu {

  padding:60px 80px 0 40px;
  height:100px;


}

.topbar-section{

  float: left;
  height: 100%;

}

#topbar a{

  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-right: 8px solid #3C3A3B;
  border-radius: 40px;
  border-left: 8px solid #3C3A3B;
  border-top:  8px solid #3C3A3B;

}

#topbar a:hover{

  color: #F0F28E;
  font-size: 35px;

}

#topbar {

  background-color: #1B191A;
  width: 100%;
  margin-top: 10PX;
  border-bottom: 8px solid #3C3A3B;
  border-top: 8px solid #3C3A3B;
  height: 140px;
  position: static;
  border-radius: 50px;

}

#menutopbar{

  padding-right: 40px;
  padding-left: 40px;

}

#logo-principal{

}

.center{

  display: block;
  margin-left: 430px;
  margin-right: auto;
  width: 20%;

}

.feed{

  margin-left: 10%;
  margin-top: 400px;
  height: 1200px;
  width: 80%;
  background-color: black;
  border-right:8px solid #3C3A3B;
  border-left:8px solid #3C3A3B;
  border-radius: 200px;
  padding-left: 20px;
  padding-right: 20px;

}

#feed{

}

#conteudofeed{

  color: white;

}
